/* Todo.css */
.navbar {
    background-color: #333;
    padding: 10px;
}

.flexContainer {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: auto 0px;
    /* Center items vertically */
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #333;
    transition: background-color 0.3s ease;

}

.active-link {
    background-color: #555;
}

/* Style for hover effect */
.nav-link:hover {
    background-color: #555;
}

.profile {
    font-size: 35px;
    color: black;
    margin: 0 0 0 80rem;
    border: 1px solid white;
    /* padding: 7px; */
    border-radius: 50%;
    width: 58px;
    text-align: center;
    background-color: #00ffd7;
    display: inline-block;
}